.App {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App header {
  width: 85%;
  background: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.form-control {
  width: 50%;
  position: relative;
}
.form-control input {
  outline: none;
  font-size: 1.2rem;
  color: white;
  width: 100%;
  background-color: orangered;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
.form-control button {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  top: -10px;
  right: 0;
  color: white;
  font-size: 2rem;
}

main {
  overflow-y: scroll;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100%;
}
.video-list {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .video-list {
    width: 95%;
  }
}

@media screen and (max-width: 992px) and (min-width: 576px) {
  .video-list {
    width: 85%;
  }
}

@media screen and (min-width: 992px) {
  .video-list {
    width: 75%;
  }
}
